@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

body {
    font-family: "Anta", sans-serif;
    padding: 0;
    margin: 0;
}

header {
    background-color: black;
    padding: 20px 60px;
    margin: 0;
}

header h1 {
    color: white;
}

header h1 strong {
    color: red;
}

header h2 {
    color: white;
}

nav {

}

nav a {
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 5px 15px 5px 15px;
    margin: 5px;
}

img {
    width: 100%;
    max-width: max-content;
}

main {
    background-color: gray;
}
