
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');
body {background-color: white;
font-family: 'Comfortaa', cursive;}

nav a{
    padding: 1%;
    text-decoration: none;
    color: black;
    text-align: center;
    background-color: orange;
    border-radius: 50px;
    margin: 10px;
    transition: 500ms;
}

nav a:hover{
    background-color: rgb(200, 101, 8);
    color: white;
    transition: 500ms;
}

nav{
    background-color: white;
    text-align: center;
    flex-direction: column;
    border-color: orange;
    text-decoration: none;
}

@media (min-width: 800px) {
    nav {
        flex-direction: row;
        align-items: center;
        padding-bottom: 3%;
        border-right: 0;
        border-width: 10%;
        border-left: 0;
        border-top: 0;
        border-style: solid;
        border-color: orange;
    }
    nav a{
        border-radius: 50%;
    }
}