.foodSection {
    @include flex(row, center, flex-start);
    height: $height100;
}
.foodLeft {
    @include flex(column, top, flex-start);
    height: $height100;
    flex: 1;
    z-index: 2;
}

.foodMid {
    flex: 1;
    @include flex(column, center, center);
    height: $height100;
}
.foodRight {
    flex: 1;
    @include flex(column, center, flex-start);
    height: $height100;
    z-index: 2;
    & > * {
        padding: $padding10;
    }
}
.foodImg {
    width: 140%;
    max-width: max-content;
    z-index: 1;
    transform: translateX(-20%) + translateY(20%);
}
.foodPrice{
    @include flex(row, flex-start, center);
    width: 90%;
    .addToCart {
        margin: $marginLR;
    }
}
.foodTable{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border: 1px solid $primaryColor;
    width: 95%;
    padding: $padding0;
    margin: $margin10;
    p {
        padding: $padding10;
        margin: $margin0;
        border: 1px solid $primaryColor;
        font-weight: 700;
    }
    .first {
        grid-column: 1 / 3;
    }
}

@media screen and (max-width: 768px) {
    .foodSection {
        .food {
            font-size: 5vh;
            padding: $paddingTB;
        }
        p {
            font-size: 2vh;
            padding: $paddingTB;
        }
        h3 {
            font-size: 3vh;
            padding: $paddingTB;
        }
        h1 {
            font-size: 3vh;
        }
        @include flexColumn(column);
        overflow-y: scroll;
        overflow-x: hidden;
        width: $width100;
        margin: $margin0;
        padding: $paddingTB;
    }
    .foodImg {
        width: 100%;
        max-width: max-content;
        margin: $margin10;
        padding: $padding10;
        transform: translateX(0) + translateY(0);
    }
    .foodMid {
        flex: 1;
    }
    .foodTable {
        margin: 0;
        p {
            padding: $padding10;
        }
    }
    .foodPrice{
        @include flex(row, center, center);
    }
}