main  {
    @include grid();
    padding: $padding0;
    margin: $margin0;
    width: $width100;
    height: $height100;
    .left {
        @include flexCenter(column);
        position: relative;
        height: $height100;
        grid-column: 1/4;
        padding: $paddingLR;
        margin: $margin0;
        border-right: 2px solid $primaryColor;
        nav {
            @include flexCenter(column);
            padding: $padding0;
            margin: $margin0;
            a {
                padding: $paddingTB;
                margin: $margin0;
            }
        }
        .navspodni {
            @include flexCenter(row);
            padding: $paddingTB;
            margin: $margin0;
            bottom: 0;
            position: fixed;
            a {
                padding: $padding20;
                margin: $margin0;
            }
        }
    }
    .right {
        grid-column: 4/20;
        height: $height100;
        overflow-y: hidden;
        padding: $padding20;
        iframe {
            width: $width100;
            height: $height100;
        }
    }
}

.landing {
    @include flex(column, top, center);
    overflow-y: scroll;
    overflow-x: hidden;
    width: $width100;
    margin: $margin0;
    padding: $paddingTB;
    width: 100%;
    .logo {
        font-size: 8vh;
        padding: $paddingTB;
        cursor: default;
        text-align: center;
    }
}


.hero {
    @include flexCenter(column);
    width: $width100;
    .goToMenu {
        margin: $marginTB;
    }
    p {
        max-width: 50%;
        text-align: center;
        padding: $paddingTB;
    }
    .heroImg {
        overflow: hidden;
        width: $width100;
        border-top: 2px solid $primaryColor;
        border-bottom: 2px solid $primaryColor;
        margin: $marginTB;

        .heroImg__slider {
          display: flex;
          animation: slide 30s linear infinite;
        }

        .heroImg__slider img {
          width: 50vh;
          object-fit: cover;
          padding: $paddingLR;
          flex-shrink: 0;
          transition: $transition;
          &:hover {
            transition: $transition;
            filter: drop-shadow(0.125rem 0.125rem 0.313rem $primaryColor);
        }
      }

      @keyframes slide {
        0% { transform: translateX(0); }
        100% { transform: translateX(-50%); }
      }
}
}

.welcome {
    @include flexCenter(column);
    margin: $marginTB;
    padding: 8rem 0;
    h3 {
        padding: $paddingTB;
        text-align: center;
    }
    p {
        max-width: 50%;
        text-align: center;
    }
}

.whyUs, .customers {
    @include flexCenter(column);
    margin: $marginTB;
    padding: 5rem 0;
    h3 {
        padding: $paddingTB;
        margin: $marginTB;
    }
    div {
        @include flexCenter(row);
        width: 100%;
        padding: $paddingTB;
        div {
            @include flexCenter(column);
            flex: 1;
            padding: $padding10;
            margin: $margin30;
            text-align: center;
            border: 2px dashed $primaryColor;
            img {
                width: 50%;
                margin: $margin10;
            }
        }
    }
}

.customers {
    div {
        div {
            height: 50vh;
            div {
                @include flex(row, center, center);
                border: none;
                flex: 2;
                img {
                    width: 10%;
                    margin: $margin10;
                    padding: 0;
                }
            }
            h3 {
                flex: 0.5;
            }
            p {
                flex: 1;
            }
        }
    }
}
.elon {
    &:hover {
        cursor: not-allowed;
    }
}

@media (max-width: 768px) {
    h3 {
        font-size: 3vh;
    }
    p {
        font-size: 2vh;
    }
    .hero {
        p {
            max-width: 100%;
        }
        .heroImg {
            .heroImg__slider{
                animation-duration: 5s;
                img {
                    width: 25vh;
                }
            }
        }
        .addToCard {
            font-size: 1vh;
        }
    }
    .whyUs, .customers {
        .logo {
            font-size: 5vh;
        }
        div {
            @include flexCenter(column);
            div {
                @include flexCenter(column);
                width: 100%;
                padding: $paddingTB;
                margin: $marginTB;
                border: 2px dashed $primaryColor;
                img {
                    width: 100%;
                }
            }
        }
    }
    .left nav a {
        writing-mode: vertical-rl;
        padding: $paddingLR;
        margin: $marginLR;
        font-size: 2vh;
    }
    .left .navspodni {
        writing-mode: vertical-rl;
        @include flexCenter(column);
    }
    .welcome, .landing {
        .logo {
            font-size: 5vh;
        }
        h3 {
            font-size: 3vh;
        }
        p {
            font-size: 2vh;
            max-width: 100%;
        }
    }
}
