// Padding all sides
$padding0 : 0;
$padding10 : 0.625rem;
$padding20 : 1.25rem;
$padding30 : 1.875rem;

// Padding left and right
$paddingLR : 0 1.25rem;

// Padding top and bottom
$paddingTB : 1.25rem 0;

// Margin all sides
$margin0 : 0;
$margin10 : 0.625rem;
$margin20 : 1.25rem;
$margin30 : 1.875rem;

// Margin left and right
$marginLR : 0 1.25rem;

// Margin top and bottom
$marginTB : 1.25rem 0;

// Border radius
$radius0 : 0;
$radius5 : 0.313rem;
$radius10 : 0.625rem;
$radius20 : 1.25rem;
$radius30 : 1.875rem;

// Transition
$transition : 0.3s;

// Wight and height
$width100 : 100%;
$height100 : 100%;
$heightHeader : 5vh
