@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&family=Comforter+Brush&display=swap');
body {
    margin: 0%;
    font-family: "Comfortaa", cursive;
    background-color: rgb(58, 106, 247);
    cursor: url('css/img/'),auto;

}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(102, 138, 248);
    padding: 50px 10% 10px 10%;
}


header h1 {
    font-family: 'Comforter Brush', cursive;
    font-size: 3.3em;
    font-weight: normal;
    color: white;
    margin: 20px 0px; text-align: center;
}

img {
    width: 100%;
    max-width: max-content;
    border-radius: 30px;
    
}
section {
    display: flex;
    flex-direction: column;
    padding: 20px 10%;
}

section.seda {
    background-color: rgb(207, 206, 206);
}

section.tmava {
    background-color: rgb(121, 119, 119);
}

article {
    flex: 1;
    padding: 20px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.877);
    margin: 10px;
}

article h1 {
    font-size: 1.4em;
    text-align: center;
    margin: 5px;
}

article h2 {
    font-size: 1.1em;
    text-align: center;
    margin: 5px;
}

article a {
    color: white;
    background-color: gray;
    text-decoration: none;
    padding: 10px 10px;
    margin: 10px;

}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    border-color: rgba(207, 4, 4, 0.715);
    padding: 10px 10px;
    border-top: 3px solid transparent;
    transition: 0.5s;
    border-radius: 3px 3px 0px 0px;
}

nav a:hover {
    border-color: white;
}

@media (min-width: 800px) {

    nav, section {

        flex-direction: row;
    }

    header {padding-bottom: 30px;}
    header h1 {display: block;}
}
* {
    cursor: progress;
    alt: "Copying your IP adress...";
}
