// This file contains the color variables used throughout the project.
// It is recommended to use these variables instead of hardcoding colors in the stylesheets.scss
// to ensure consistency and maintainability.

// primary colors
$black : #151619;
$white : #ffffff;
$helsinki : #2F4A73;
$skin : #E6DED3;

// secondary colors
$coral : #FC6558;
$skinLight : #F6F3EF;
$blue : #A2D3E8;

