// This file contains the color variables used throughout the project.
// It is recommended to use these variables instead of hardcoding colors in the stylesheets.scss
// to ensure consistency and maintainability.

// primary colors
$black : rgb(18, 18, 18);
$white : #ffffff;
$whiteProduct : rgb(236, 236, 236);