@import 'variables';
@import 'mixins';
@import 'colors';
@import 'fonts';

body, html {
    @include flexColumn(column);
    padding: $padding0;
    margin: $margin0;
    overflow: hidden;
    width: $width100;
    height: $height100;
}
//.main {
//    @include bgrImg( $backgroundImg, cover, center, no-repeat);
//}
//
//::selection {
//    background: $selectionColor; /* Oranžová */
//    color: $secondaryColor; /* Bílý text */
//}