
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');
body {background-color: rgb(255, 235, 210);
    font-family: 'Comfortaa', cursive;

}
h1 {font-family: 'Comfortaa', cursive;
font-size: 2.5em;
color: rgb(154, 64, 39);
text-align: center;
text-decoration: underline;
}

p {font-family: 'Comfortaa', cursive;
font-size: 1em;
color: black;
text-align: justify;
text-rendering: geometricPrecision;
scroll-behavior: smooth;
text-shadow: black;
text-shadow: 0cap;
margin: 5px 30px;
}

nav a{
    text-decoration: none;
    color: rgb(154, 64, 39);
    background-color: rgb(255, 235, 210);
    padding: 8px 16px;
    margin: 5px;
    border: rgb(154, 64, 39) 2px solid;
    border-radius: 30px;
    transition: 3s;

}

nav a:hover {
background-color: rgb(154, 64, 39);
color: rgb(255, 235, 210);
border: rgb(255, 235, 210) 2px solid;
transition: 1s;
}

nav{
    background-color: rgba(150, 116, 93);
    border-radius: 30px;
    text-align: center;
    flex-direction: column;
    padding: 5px 5px;
    margin: 20px;

}

article {
    background-color: rgba(212, 188, 166);
    padding: 20px;
    border-radius: 30px;
    margin: 5px;
}

section {
    display: flex;
    flex-direction: column;
}

img {
    justify-content: center;
    width: 100%;
}



@media (min-width: 200px) {
    nav {
        flex-direction: row;
    }
    section {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0px 10px;
        justify-content: center;
    }

    article {
        padding: 15px;
        min-width: 250px;
        max-width: 300px;
        flex: 1;
        border-radius: 30px;
        margin: 5px;
        background-color: rgba(207, 173, 146);
    }


div{
margin: 5px 20px;
padding: 30px;
background-color: rgba(84, 28, 0, 0.232);
border-radius: 30px;
}
}

@media (min-width: 616px) {
    body {
        background-image: url(paws.png);
        background-repeat: repeat-x repeat-y;
        background-position: center center;
        background-attachment: scroll;
        background-size: 90%;
    }

}