@import url('https://fonts.googleapis.com/css?family=Montserrat');


body {
    background-color:#5E503F;
    font-family: Montserrat, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.card-container {
    background-color: #5E503F;
    border: 1px solid #C6AC8F;
    border-radius: 5px;
    padding: 30px;
    text-align: center;
    width: 350px;
    box-shadow: 0px 10px 20px -10px rgb(8, 26, 26);
    color: #dce1de;
    position: relative;
    display: flex;
    flex-direction: column;
}

.card-container .spse {
    color: #000000;
    background-color: #C6AC8F;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 7px;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}

h3 {
    color: #C6AC8F;
}

p {
    font-size: 14px;
    line-height: 21px;
    color: #dce1de;
}

.buttons {
    margin-top: 20px;
}

button.primary {
    color: #dce1de;
    background-color: transparent;
    border: solid 1px #C6AC8F;
    padding: 10px 25px;
    border-radius: 2px;
    cursor: pointer;
}

button.primary:hover {
    background-color: #C6AC8F;
    color: #000000;
}

button.primary.ghost {
    background-color: transparent;
    color: #dce1de;
}

button.primary.ghost:hover {
    background-color: #C6AC8F;
    color: #000000;
}

a {
    text-decoration: none;
}

.submenu {
    width: 160px;
    z-index: 1;
    list-style: none;
    padding: 0;
}


.submenu li {
    text-align: left;
}

.menu:hover .submenu {
    display: block;
}

.submenu li a {
    color: #dce1de;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.submenu li a:hover {
    background-color: #C6AC8F;
    color: #000;
}

input#checkbox-menu {
    display: none;
}
i#menu, i#close {
    font-size: 2rem;
    font-weight: bold;
}
i#close {
    display: none;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
nav li {
    display: flex;
    flex-direction: column ;
    align-items: stretch;
}
nav a {
    color: white;
    font-size: 1em;
    text-decoration: none;
    padding: 0.3rem 1rem;
    white-space: nowrap;
    transition: 0.3s;
}
nav ul ul a {
    font-size: 0.9em;
}
nav i.material-symbol-outlined{
    font-size: 1em;
}

@media (max-width: 799px) {
    .card-container{
        height: 450px;
    }

nav {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    background-color: #5E503F;
    position: absolute;
    top: 8rem;
    align-self: center;
    z-index: 2;
    display: none;
    transition: 0.8s;
}
input#checkbox-menu:checked ~ nav {
    display: flex;
    transform: translateX(0);
    transition: 0.8s;
}
input#checkbox-menu:checked ~ label i#menu {
    display: none;
}
input#checkbox-menu:checked ~ label i#close {
    display: block;
}


}

@media (min-width: 800px) {
    header {
        padding: 10px;
    }

    main {
        width: 95%;
    }

    ul li a {
        padding: 8px 10px;
    }
    .card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 70%;
    }
label[for="checkbox-menu"] {
    display: none;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
nav > ul {
    flex-direction: row;
    align-items: flex-start;
}
nav ul li ul {
    background-color: #5E503F;
    min-width: 7.4rem;
    position: absolute;
    z-index: 2;
    top: 2rem;
    padding-top: 0.7rem;
    transform: scaleY(0);
    transform-origin: 0px 0px;
    transition: 0.4s;
    width: 34%;
}
nav ul li:hover ul {
    transform: scaleY(1);
}
nav ul li a:hover {
    background-color: #C6AC8F;
    color: #000;
}
}